@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff; /* white */
    --primary: #141414; /* black */
    --secondary: #94a684; /* pink */
    --secondary-muted: #aec3ae; /* muted light purple */
    --accent1: #e4e4d0; /* dark blue */
    --accent2: #ffeef4; /* dark yellow */
  }
}

@layer base {
  html.dark {
    --background: #141414; /* black */
    --primary: #ffffff; /* white */
    --secondary: #94a684; /* pink */
    --secondary-muted: #aec3ae; /* muted light purple */
    --accent1: #e4e4d0; /* dark blue */
    --accent2: #ffeef4; /* dark yellow */
  }
}

/* Apply custom properties to body */
body {
  color: var(--primary);
  background-color: var(--background);
}

/* Define a custom utility for balanced text wrapping */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
